<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <title>Sign In</title>
    <meta name="description" content="Sign into your Shorters' account" />
    <meta name="keywords" content="URL,url,short,shorten,shortening,custom" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Shorters" />
    <meta property="og:url" content="https://shorters.co/signin" />
    <meta property="og:image" content="static/apple-touch-icon.png" />
    <meta property="og:title" content="Shorters - good ol' URL shortener" />
    <meta
      property="og:description"
      content="Sign into your Shorters' account"
    />
    <link rel="canonical" href="https://shorters.co/signin" />
    <link
      rel="alternate"
      href="https://shorters.co/signin"
      hreflang="x-default"
    />
    <link rel="alternate" href="https://shorters.co/signin" hreflang="en" />
    <link rel="manifest" href="static/manifest.json" />
    <link rel="shortcut icon" href="static/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link type="text/css" rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <div class="sign-in">
      <h2>Sign in to create long-lived URLs and track visits</h2>
      <form class="sign-in-form">
        <input type="email" autocomplete="off" placeholder="Email" required />
        <input type="text" placeholder="One-time password" hidden />
        <button type="submit">Send</button>
        <p></p>
      </form>
    </div>

    <script type="text/javascript" src="static/signin.js"></script>
  </body>
</html>
